.carousal-container {
    height: 70vh !important;
    object-fit: stretch;  
}
.left-side-indicator-container{
    all:unset;
    width:100%;
    list-style: none;
    display: grid;
}
.leftIndicator{
    height:  70vh !important;
    overflow: hidden; 
    overflow-y: scroll;   
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}
.leftIndicator::-webkit-scrollbar { width: 0 !important }

